<footer class="site-footer">
  <div class="footer-container">
    <!-- Thông tin liên hệ -->
    <div class="footer-contact">
      <h4>Thông tin liên hệ</h4>
      <p>Email: <a href="mailto:codephantom@gmail.com">codephantom@gmail.com</a></p>
      <p>Hotline bảo hành: <a href="tel:19001264">1900 1264</a></p>
      <p>Thời gian hỗ trợ: 8h00 - 21h00 (T2 - CN)</p>
    </div>

    <!-- Mạng xã hội -->
    <div class="footer-social">
      <h4>Kết nối với chúng tôi</h4>
      <ul>
        <li><a href="https://www.facebook.com/duyphat.vo.2204/" target="_blank">🌐 Fanpage Facebook</a></li>
        <li><a href="https://www.instagram.com/duyphat.vo.2204/" target="_blank">📸 Instagram</a></li>
        <li><a href="https://zalo.me/123456789" target="_blank">💬 Zalo Official</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Created by CodePhantom-2021S1T1-HCMUS</p>
  </div>
</footer>